html, body {
  background: linear-gradient(45deg, #246, #cef);
  background-size: cover;
  height: 100vh;
  padding: 0;
  margin: 0;
}

.card-ctn {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: 800px;
}

.col {
  transition: .5s;
}

.modified-card-image {
  filter: brightness(30%) grayscale(90%) contrast(110%);
}

.time-picker > div {
  display: inline-block !important;
}